@model Entity.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card" style="width:20rem;">
    <div class="card-body" style="background-color:#dee2e6">
        <h5 class="card-title">@Html.Raw(Model.Name)</h5>
        <h5 class="card-title">@Html.Raw(Model.Surname)</h5>
        <p class="card-text">@Model.Company</p>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
