@model Entity.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card" style="width:20rem;">
    <div class="card-body" style="background-color:#dee2e6">
        <h5>Tel Number:</h5>
        <p class="card-title">@Html.Raw(Model.TelNumber)</p>
        <h5>E-mail:</h5>
        <p class="card-title">@Html.Raw(Model.Email)</p>
        <h5>Location</h5>
        <p class="card-text">@Model.Location</p>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
