@{
    ViewData["Title"] = "Index";
}


<h5>@ViewBag.location konumunda yer alan rehbere kayıtlı kişi sayısı: ~ @ViewBag.number ~</h5>

<h5>@ViewBag.location konumunda yer alan rehbere kayıtlı telefon numarası sayısı: ~ @ViewBag.telNumber ~</h5>